<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css'%}" type="text/css">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/png">

    <!-- for loading LaTeX -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

    <title>Intelligo</title>

</head>

<body>

    <header class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="jumbotron">
            <div class="container">
                <h3 class="d-inline-block display-4">Intelligo</h3>
                <hr>
                <nav class="nav justify-content-center lead">
                    <a class="nav-link active" href="/#">Home</a>
                    <a class="nav-link" href="{% url 'bigO' %}">Asymptotic Complexity</a>
                    <a class="nav-link" href="{% url 'masters' %}">Master's Method</a>
                    <a class="nav-link" href="{% url 'info' %}">Info</a>
                </nav>
                <hr>
            </div>
    </header>

    <div class="container text-justify">
        {% block content %}
        replace me
        {% endblock %}
    </div>

    <footer class="page-footer font-small blue pt-4">
        <div class="container text-center">
            <span class="text-muted"> © 2019 Copyright | Tamara Alhajj | Honours Project</span>
        </div>
    </footer>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>