{% extends 'base.html' %}


{% block content %}
<div class="jumbotron">
    <h1 class="display-4 font-italic">Understanding Complexity</h1>
    <h5 class="text-muted">A web application to aid in understanding of asymptotic complexity theory.</h5>
    <p>
        The navbar will redirect you to the tools to provide asymptotic analysis of a given equation.
        Just follow the instructions given on the page, and be sure that all input is in python's math format.
        I hope this proves to be a helpful learning aid; take my survey and let me know what you think!
    </p>
    <a class="btn btn-primary" href="https://forms.gle/D8GoWAofKnFEnPRn6" target="_blank">Take Survey</a>
</div>
<div class="container">
    <h5>Python Math Expressions</h5>
    <p>
        The <a href="{% url 'bigO' %}">asymptotic complexity page</a> requires input with python math expression.
        The following is a summary of how to input in this way.
    </p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">Powers: $$n^i \longrightarrow n**i$$</li>
        <li class="list-group-item list-group-item-info">Multiplication: $$nc \longrightarrow n*i$$</li>
        <li class="list-group-item list-group-item-info">Division: $$\frac{n}{c} \longrightarrow n/c$$</li>
        <li class="list-group-item list-group-item-info">Logarithms: $$logn \longrightarrow log(n)$$</li>
        <li class="list-group-item list-group-item-info">Addition & subtraction is the same: $$n + a -b \longrightarrow n + a - b$$</li>
    </ul>
</div>
{% endblock %}