{% extends 'base.html' %}


{% block content %}
<div class="jumbotron">
    <h1 class="display-4 font-italic">Understanding Complexity</h1>
    <h5 class="text-muted">A web application to aid in understanding of asymptotic complexity theory.</h5>
    <p>
        The navbar will redirect you to the tools to provide asymptotic analysis of a given equation.
        Just follow the instructions given on the page, and be sure that all input is in python's math format.
        I hope this proves to be a helpful learning aid; take my survey and let me know what you think!
    </p>
    <button href="https://forms.gle/D8GoWAofKnFEnPRn6" class="btn btn-primary">Take Survey</button>
</div>
{% endblock %}