{% extends 'base.html' %}


{% block content %}
<p>
    Intelligo is my undergraduate honours project, completed winter 2019.
    This project was intended to help those in COMP 3804 at Carleton University, in learning the basics of complexity theory.
    <br>
    Developed in chrome.
    <br>
    The web framework behind this application is <a href="https://www.djangoproject.com/">Django</a>.
    <br>
    The logic layer of this application was written in python3.7
    <br>
    The libraries I used with this are <a href="https://sympy.org/">SymPy</a>, <a href="https://pypi.org/project/anytree/">Anytree</a>, and <a href="https://graphviz.org/">graphviz</a>.
</p>
{% endblock %}