{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1 class="display-4 font-italic">About this project</h1>
    <p class="lead text-muted">Check it out on <a href="https://www.github.com/TamaraAlhajj/Intelligo" target="_blank">github <i class="fab fa-github"></i></a></p>
    <p>
    Intelligo is my undergraduate honours project, completed winter 2019.
    This project was intended to help those in COMP 3804 at Carleton University, in learning the basics of complexity theory.
    <br>
    Developed in chrome.
    <br>
    The web framework behind this application is <a href="https://www.djangoproject.com/" target="_blank">Django</a>.
    <br>
    The logic layer of this application was written in python3.7
    <br>
    The libraries I used with this are <a href="https://sympy.org/" target="_blank">SymPy</a>, <a href="https://pypi.org/project/anytree/" target="_blank">Anytree</a>, and <a href="https://graphviz.org/" target="_blank">graphviz</a>.
    </p>
</div>
{% endblock %}