{% extends 'base.html' %}


{% block content %}

<div class="jumbotron">
    <h1 class="display-4 font-italic">Master's Method</h1>
    <p>Asymptotic analysis for divide-and-conquer recurrences</p>
    <p>Detailed explanation here</p>
</div>
<div class="container">
    <div class="row">
        <form class="form-group col-sm" method="post">
            <label for="id_post">Input for Equation of the form $$ T(n)=aT(\frac{n}{b})+ \Theta(n^{k}(log^{i}n))
                $$</label>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">a</span>
                </div>
                {% csrf_token %}
                {{ form.post_a }}
            </div>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">b</span>
                </div>
                {% csrf_token %}
                {{ form.post_b }}
            </div>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">k</span>
                </div>
                {% csrf_token %}
                {{ form.post_k }}
            </div>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">i&nbsp;</span>
                </div>
                {% csrf_token %}
                {{ form.post_i }}
            </div>
            <button type="submit" class="btn btn-outline-primary container-fluid btn-lg mt-4">Run Analysis</button>
        </form>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-subtitle mb-2 text-muted">$${{ T }}$$</h5>
            <div class="container">
                {% for line in ans %}
                $${{ line }}$$
                <br>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="card text-center">
        <div class="card-header text-muted">
            {{ tree_msg }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Insert an amazing dynamic tree here</h5>
        </div>
    </div>
</div>

{% endblock %}